Given two strings str1 and str2 and below operations that can performed on str1.<br>
..-->Insert<br>
..-->Remove<br>
..-->Replace<br>
All of the above operations are of equal cost

```
Input:   str1 = "geek", str2 = "gesek"
Output:  1
We can convert str1 into str2 by inserting a 's'.

Input:   str1 = "cat", str2 = "cut"
Output:  1
We can convert str1 into str2 by replacing 'a' with 'u'.

Input:   str1 = "sunday", str2 = "saturday"
Output:  3
Last three and first characters are same.  We basically
need to convert "un" to "atur".  This can be done using
below three operations. 
Replace 'n' with 'r', insert t, insert a
```

### Algorithm Bottom Up:
If last characters of two strings are same,<br>
nothing much to do. Ignore last characters and get count for remaining strings. So we recur for lengths m-1 and n-1.<br>
Else (If last characters are not same),<br>
..we consider all operations on ‘str1’, consider all three operations on last character of first string, recursively compute minimum cost for all three operations and take minimum of three values.<br> 
.....Insert: Recur for m and n-1.<br>
.....Remove: Recur for m-1 and n.<br>
.....Replace: Recur for m-1 and n-1.


replace |  delete <br>
insert  |   <b>Here(find Min)

In [1]:
def lavensteinDistance(str1 ,str2):
    m = len(str1)
    n = len(str2)
    
    dp = [[0 for _ in range(n+1)] for _ in range(m+1)]
    
    for i in range(m+1):
        for j in range(n+1):
            
            # Base Case to convert empty to given or
            # convert given string into empty string
            if i == 0:
                dp[i][j] = j 
            
            elif j == 0:
                dp[i][j] = i
            
            # if character matched then we go 
            # to substring where it didn't match
            elif str1[i-1] == str2[j-1]:
                dp[i][j] = dp[i-1][j-1]
            
            # character didn't match take min
            # of replace, insert and Delete
            else:
                dp[i][j] = 1 + min(dp[i-1][j],dp[i-1][j-1],dp[i][j-1]) 
    
    return dp[m][n]

In [2]:
A = 'benyam'
B = 'ephrem'
lavensteinDistance(A ,B)

5

In [3]:
A = 'geek'
B = 'gesek'
lavensteinDistance(A ,B)

1

In [4]:
A = 'cat'
B = 'cut'
lavensteinDistance(A ,B)

1

In [5]:
A = 'saturday'
B = 'sunday'
lavensteinDistance(A ,B)

3

In [6]:
A = 'Diwanshu'
B = 'Tyagi'
lavensteinDistance(A ,B)

7